:root {
  /* общий фон */
  --body-color: #ffffff;
  --body-color-task: #ffffff;
  /* цвет заголовков */
  --title-color: #161616;
  /* цвет подзаголовков */
  --subtitle-color: #42526b;

  /*  blue color */
  --cds-blue-400: #0f62fe;
  --cds-blue-500: #0353e9;

  /* grey color */
  --cds-grey-400: #525252;
  --cds-grey-500: #8d8d8d;

  /* Background */
  --background-background: #ffffff;
  --background-background-hover: #e5e5e5;
  --bacgroun-card-hover: rgba(234, 234, 234, 0.9);
  --bacgroun-card-shadow: rgba(34, 60, 80, 0.1);
  --container-color-task: #ffffff;
  --first-color-task: #3e6553;
  --first-color-alt-task: #365949;
  --first-color-light-task: #93bdaa;
  --first-color-lighten-task: #e6efeb;

  /* Text */
  --text-text-primary: #161616;
  --text-text-tertiary: #ffffff;
  --text-text-on-color: #ffffff; /* Text on interactive colors; Text on button colors */
  --text-text-on-color-disabled: #8d8d8d; /* Disabled color for --text-text-on-color */
  --text-text-disabled: #c6c6c6;
  --rating-color: #f0ca08;
  --text-color-card: #161616;
  --text-color-task: #565d59;
  --text-color-light-task: #88918d;

  /* Link */
  --link-link-primary: #0f62fe;

  /* Button */
  --button-button-primary: #0f62fe;
  --button-button-primary-hover: #0353e9;
  --button-button-secondary: #393939;
  --button-button-secondary-hover: #4c4c4c;
  --button-button-tertiary: #0f62fe;
  --button-button-tertiary-hover: #0353e9;
  --button-button-danger-primary: #da1e28;
  --button-button-danger-hover: #ba1b23;
  --button-button-disabled: #c6c6c6;

  /* Focus */
  --focus-focus: #0f62fe;
  --focus-box-shadow: 0px 0px 0px 0.1rem #ffffff inset;
}

/* logo */
.header-logo svg {
  --logo-fill: #161616;
}

/* links */
a {
  --link-color-default: #525252;
  --link-border-default: 2px solid #e0e0e0;

  /* состояние hover */
  --link-title-hover: #161616;
  --link-border-hover: #8d8d8d;

  /* состояние focus */
  --link-border-focus: 2px solid #0f62fe;
}

/* forms */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
textarea {
  --input-bg-color: #ffffff;
  --input-border-default: 1px solid #8d8d8d;
  --input-text-color: #161616;
  --input-placeholder-color: #a8a8a8;
}

label {
  --input-label-color: #525252;
}

label[data-label="disabled"] {
  --label-color-disabled: #c6c6c6;
}

input[type="text"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
textarea:hover {
  --input-outline: 2px solid #0f62fe;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  --input-outline: 2px solid #0f62fe;
}

input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
textarea:disabled {
  --input-bg-color-disabled: #f4f4f4;
  --input-color-disabled: #c6c6c6;
}

/* текст с ошибкой */
.input-error {
  --text-color: #da1e28;
}

/* модалка */
dialog {
  --modal-bgc: #f4f4f4; /* цвет фона */
}

dialog::backdrop {
  --modal-overlay: rgba(22, 22, 22, 0.5); /* оверлей */
}
