button,
a,
.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.8rem; /* вертикальный внутренний отступ */
  padding-inline-end: 1rem; /* отступ справа от текста по макету */
  -webkit-padding-end: 1rem; /* Safari, old Chrome */
  -webkit-padding-start: 1rem; /* Safari, old Chrome */
  padding-inline-start: 1rem; /* внутренний отступ по горизонтали */
  border: 2px solid transparent;
  outline: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--title-color);
  max-inline-size: 20rem;
  min-width: 12rem; /* текст в два слова */
  min-height: 4rem;
  max-height: 4rem;
  background-color: transparent;
}

.btn-icon {
  cursor: auto;
  min-width: 12rem;
}

button img,
button svg {
  margin-left: 1.6rem;
}

/* ссылки */
a {
  align-items: center;
  padding: 0 1.6rem;
  min-width: 8rem;
  color: var(--link-color-default);
  text-decoration: none;
}

a:hover {
  color: var(--link-title-hover);
  transition: color 0.3s ease-in-out;
}

a:focus {
  color: var(--link-title-hover);
  border: var(--link-border-focus);
  transition: border 0.3s ease-in-out;
}

a.active {
  border: var(--link-border-focus);
  color: var(--link-title-hover);
}

.close-modal {
  cursor: pointer;
  min-width: 3rem;
}

.close-modal svg path {
  fill: var(--title-color);
}

/*****************************************************************   */

/* Button Primary */

/*****************************************************************   */
[data-variant="primary"] {
  background-color: var(--button-button-primary);
  border: 0.2rem solid var(--button-button-primary);
  color: var(--text-text-on-color);
}

[data-variant="primary"] path {
  fill: var(--text-text-on-color);
}

[data-variant="primary"]:hover {
  background-color: var(--button-button-primary-hover);
  border: 0.2rem solid var(--button-button-primary-hover);
}

[data-variant="primary"]:focus {
  background-color: var(--button-button-primary);
  border: 0.2rem solid var(--focus-focus);
  box-shadow: var(--focus-box-shadow);
  outline: none;
}

/*****************************************************************   */

/* Button Danger-Primary */

/*****************************************************************   */
[data-variant="danger-primary"] {
  /* padding: 1.3rem 1.4rem; */
  background-color: var(--button-button-danger-primary);
  border: 0.2rem solid var(--button-button-danger-primary);
  color: var(--text-text-on-color);
}

[data-variant="danger-primary"] path {
  fill: var(--text-text-on-color);
}

[data-variant="danger-primary"]:hover {
  background-color: var(--button-button-danger-hover);
  border: 0.2rem solid var(--button-button-danger-hover);
}

[data-variant="danger-primary"]:focus {
  background-color: var(--button-button-danger-primary);
  border: 0.2rem solid var(--focus-focus);
  box-shadow: var(--focus-box-shadow);
  outline: none;
}

/*****************************************************************   */

/* Button Secondary */

/*****************************************************************   */
[data-variant="secondary"] {
  background-color: var(--button-button-secondary);
  border: 0.2rem solid var(--button-button-secondary);
  color: var(--text-text-on-color);
  cursor: pointer;
}

[data-variant="secondary"] path {
  fill: var(--text-text-on-color);
}

[data-variant="secondary"]:hover {
  background-color: var(--button-button-secondary-hover);
  border: 0.2rem solid var(--button-button-secondary-hover);
}

[data-variant="secondary"]:focus {
  background-color: var(--button-button-secondary);
  border: 0.2rem solid var(--focus-focus);
  box-shadow: var(--focus-box-shadow);
  outline: none;
}

/*****************************************************************   */

/* Button Disabled Primary, Secondary, Danger-Primary */

/*****************************************************************   */
[data-variant="primary"][disabled],
[data-variant="secondary"][disabled],
[data-variant="danger-primary"][disabled] {
  background-color: var(--button-button-disabled);
  border: 0.2rem solid var(--button-button-disabled);
  color: var(--text-text-on-color-disabled);
  cursor: not-allowed;
}

[data-variant="primary"][disabled] path,
[data-variant="secondary"][disabled] path,
[data-variant="danger-primary"][disabled] path {
  fill: var(--text-text-on-color-disabled);
}

/*****************************************************************   */

/* Button Tertiary */

/*****************************************************************   */
[data-variant="tertiary"] {
  background-color: var(--background-background);
  border: 0.2rem solid var(--button-button-tertiary);
  color: var(--button-button-tertiary);
  cursor: pointer;
}

[data-variant="tertiary"] path {
  fill: var(--button-button-tertiary);
}

[data-variant="tertiary"]:hover {
  background-color: var(--button-button-tertiary-hover);
  border: 0.2rem solid var(--button-button-tertiary-hover);
  color: var(--text-text-tertiary);
}

[data-variant="tertiary"]:focus {
  background-color: var(--button-button-tertiary);
  border: 0.2rem solid var(--focus-focus);
  box-shadow: var(--focus-box-shadow);
  color: var(--text-text-tertiary);
  outline: none;
}

[data-variant="tertiary"]:hover path,
[data-variant="tertiary"]:focus path {
  fill: var(--text-text-tertiary);
}

/*****************************************************************   */

/* Button Danger-Tertiary */

/*****************************************************************   */
[data-variant="danger-tertiary"] {
  background-color: var(--background-background);
  border: 0.2rem solid var(--button-button-danger-primary);
  color: var(--button-button-danger-primary);
  cursor: pointer;
}

[data-variant="danger-tertiary"] path {
  fill: var(--button-button-danger-primary);
}

[data-variant="danger-tertiary"]:hover {
  background-color: var(--button-button-danger-hover);
  border: 0.2rem solid var(--button-button-danger-hover);
  color: var(--text-text-on-color);
}

[data-variant="danger-tertiary"]:focus {
  background-color: var(--button-button-danger-primary);
  border: 0.2rem solid var(--focus-focus);
  box-shadow: var(--focus-box-shadow);
  color: var(--text-text-on-color);
  outline: none;
}

[data-variant="danger-tertiary"]:hover path,
[data-variant="danger-tertiary"]:focus path {
  fill: var(--text-text-on-color);
}

/*****************************************************************   */

/* Button Disabled Tertiary, Danger-Tertiary */

/*****************************************************************   */
[data-variant="tertiary"][disabled],
[data-variant="danger-tertiary"][disabled] {
  background-color: var(--background-background);
  border: 0.1rem solid var(--button-button-disabled);
  color: var(--text-text-disabled);
  cursor: not-allowed;
}

[data-variant="tertiary"][disabled] path,
[data-variant="danger-tertiary"][disabled] path {
  fill: var(--text-text-disabled);
}

/*****************************************************************   */

/* Button Ghost */

/*****************************************************************   */
[data-variant="ghost"] {
  background-color: var(--background-background);
  border: 0.2rem solid var(--background-background);
  color: var(--link-link-primary);
  cursor: pointer;
}

[data-variant="ghost"] path {
  fill: var(--link-link-primary);
}

[data-variant="ghost"]:hover {
  background-color: var(--background-background-hover);
  border: 0.2rem solid var(--background-background-hover);
  color: var(--link-link-primary);
}

[data-variant="ghost"]:focus {
  background-color: var(--background-background);
  border: 0.2rem solid var(--focus-focus);
  box-shadow: var(--focus-box-shadow);
  color: var(--link-link-primary);
  outline: none;
}

[data-variant="ghost"]:hover path,
[data-variant="ghost"]:focus path {
  fill: var(--link-link-primary);
}

/*****************************************************************   */

/* Button Danger-Ghost */

/*****************************************************************   */
[data-variant="danger-ghost"] {
  background-color: var(--background-background);
  border: 0.2rem solid var(--background-background);
  color: var(--button-button-danger-primary);
  cursor: pointer;
}

[data-variant="danger-ghost"] path {
  fill: var(--button-button-danger-primary);
}

[data-variant="danger-ghost"]:hover {
  background-color: var(--button-button-danger-hover);
  border: 0.2rem solid var(--button-button-danger-hover);
  color: var(--text-text-on-color);
}

[data-variant="danger-ghost"]:focus {
  background-color: var(--background-background);
  border: 0.2rem solid var(--focus-focus);
  box-shadow: var(--focus-box-shadow);
  color: var(--button-button-danger-primary);
  outline: none;
}

[data-variant="danger-ghost"]:hover path {
  fill: var(--text-text-on-color);
}

[data-variant="danger-ghost"]:focus path {
  fill: var(--button-button-danger-primary);
}

/*****************************************************************   */

/* Button Disabled Ghost, Danger-Ghost */

/*****************************************************************   */
[data-variant="ghost"][disabled],
[data-variant="danger-ghost"][disabled] {
  background-color: var(--background-background);
  border: 0.1rem solid var(--background-background);
  color: var(--button-button-disabled);
  cursor: not-allowed;
}

[data-variant="ghost"][disabled] path,
[data-variant="danger-ghost"][disabled] path {
  fill: var(--button-button-disabled);
}
