.header {
  color: var(--title-color);
  background-color: var(--body-color);
  padding: 2rem 0;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.17) 0 6px 6px;
}

.header-logo {
  padding: 0;
}

.header-nav,
.header-buttons {
  margin-left: auto;
}

.switcher {
  margin-left: 2rem;
}

/* кнопка бургер */
.burger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }

  .burger-menu {
    display: inline-flex;
  }
}
