dialog:modal {
  background-color: var(--modal-bgc);
  width: 54rem;
  height: calc(100vh - 10rem);
  padding: 0;
  border: 0;
  max-height: calc(100% - 10rem);
}

dialog::after {
  background: var(--modal-overlay);
}

.modal-wrapper {
  padding: 2rem;
  height: 100%;
  box-sizing: border-box;
}

.modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  position: relative;
}

.modal header [data-btn-icon="btn-icon"] {
  position: absolute;
  top: -2rem;
  right: -2rem;
}

.modal-title {
  width: 93%;
  display: inline-flex;
  color: var(--title-color);
  font-size: 3rem;
  font-weight: 400;
}

.modal form {
  overflow-y: auto;
  max-height: calc(100% - 10rem);
  margin-bottom: 4rem;
  height: 100%;
}

.modal footer {
  position: absolute;
  width: 100%;
  min-height: 6rem;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

.modal [data-btn="primary"] {
  flex: 1;
  max-width: 50%;
}

/* навигация в модалке */
.modal-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-nav a {
  width: 100%;
  max-width: 100%;
  line-height: 4rem;
}

/* навигация */
.modal-nav__link.active {
  border: var(--link-border-focus);
  color: var(--link-title-hover);
}

@media screen and (max-width: 494px) {
  dialog:modal {
    max-width: 100vw;
    max-height: 100vh;
    top: 0;
    bottom: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
}
